p.ptitle{
    font-size: 1.5em;
    font-weight: bolder;
    color: #D7F9FF;
    white-space: nowrap;
    font-family: "Chakra Petch", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-left: 22%;
}
