.card {
  border: 1px solid #888;
  border-radius: 8px;
  padding: 16px;
  background-color: #2c2c2c;
  color: #fff;
  width: 500px;
}

.card h2 {
  margin-top: 0;
}

.button-group {
  margin: 16px 0;
}

.button-group button {
  margin-right: 8px;
}

.footer {
  color: #bbb;
  font-size: 0.9em;
}

@media (max-width: 560px) {
  .card{
    width: 350px;
  }


}

@media (max-width: 410px) {
  .card{
    width: 300px;
  }
}
