    <div class="videoList" style="justify-content: space-evenly;">
        <div *ngFor="let video of videoList">
            <div style="height: 100%; width: 100%; display: flex; flex-direction: column;">
                <label for="" class="title">{{video.videoTitle}}</label>
                <a routerLink="/videopage/watch" [queryParams]="{v:video.videoId}">
                  <img srcset="{{video.thumb}}" alt="" width="400px" height="200px">
                </a>
            </div>
        </div>
    </div>
