<div class="progamacao">
    <ul class="ulprog">
        <div class="oba">
            <li class="liprog">Python para Iniciantes </li>
            <button class="botaoa"><a href="https://" target="_blank">Assistir</a></button>
        </div>
        <div class="oba">
            <li class="liprog">Manipulação de Arquivos e Dados </li>
            <button class="botaoa"><a href="https://" target="_blank">Assistir</a></button>
        </div>
        <div class="oba">
            <li class="liprog">APIs com Flash </li>
            <button class="botaoa"><a href="https://" target="_blank">Assistir</a></button>
        </div>
    </ul>
</div>