<header><app-main-header></app-main-header></header>
<div class="backgroud">
    <div class="container">
        <div class="centralizado">
            <div class="img-text-container">
                <img src="{{test.badgeURL}}" alt="Imagem">
                <div class="titulo">
                    <h1>{{test.testTitle}}</h1>
                    <p>Questão {{index + 1}} de {{maxQuestion}} </p>
                </div>
            </div>
        </div>
        <div class="questoes">
            <app-question [question]="test.questionsList[index]" #childComponents ></app-question>
            <div class="botao">
                <button class="botao-menu-transp" (click)="prevQuestion()" >Questão anterior</button>
                <button class="botao-menu-azul" (click)="nextQuestion()"*ngIf="!finish" >Próxima Questão</button>
                <button class="botao-menu-azul" (click)="calcResult()"  *ngIf="finish" >Finalizar</button>
            </div>
        </div>
    </div>
</div>

