# Ignorar diretórios e arquivos gerados pelo Angular
/node_modules
/dist
/tmp
/out-tsc

# Ignorar arquivos de configuração e cache do npm
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Ignorar configurações do IntelliJ IDEA
/.idea
*.iml

# Ignorar pastas e arquivos comuns do Git
/.git
/.gitignore

# Ignorar arquivos temporários e do sistema operacional
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
