<div class="container">
    <div class="box">
        <h2 class="title">Teste de Conhecimento <br> Curso HTML Básico</h2>
        <p style="text-align: center;">Este teste abrangerá os tópicos aprendidos no curso e ajudará a avaliar sua compreensão.</p>

        <p><strong>Tópicos do Teste</strong></p>
        <ul>
            <li>Estrutura básica do HTML.</li>
            <li>Formatação de texto.</li>
            <li>Listas.</li>
            <li>Links e âncoras.</li>
            <li>Inserção de imagens.</li>
            <li>Construção de tabelas.</li>
            <li>Criação de formulários.</li>
            <li>Utilização de elementos semânticos.</li>
        </ul>

        <p style="text-align: center;"><strong>Pronto para iniciar o teste de conhecimento?</strong></p>
        <p style="text-align: center;">Clique no botão abaixo para começar o teste.</p>
        <div style="text-align: center;">
            <button class="botao-menu-azul" onclick="window.location.href='teste.html'">Iniciar</button>
        </div>
    </div>
</div>