.background {
  margin: 2%;
}

.message {
  margin-top: 7%;
  color: #FFF;
  text-align: center;
}

.botao-menu-azul {
  background-color: #00B5FF;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-dialog {
  display: flex;
  justify-content: center;
  width: 100%;
}

.title{
  justify-self: self-start;
  margin-left: 3%;
  color: #FFF;
  margin-top: 5%;
}

p{
  max-width: 500px;
}


::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
  background: linear-gradient(to bottom right, #36005a, #220135) !important;
  border: black solid 2px !important;
  border-radius: 5% !important;
  -webkit-box-shadow: 10px 9px 12px 10px rgb(24, 0, 19) !important;
  -moz-box-shadow: 10px 9px 12px 10px rgb(24, 0, 19) !important;
  box-shadow: 10px 9px 12px 10px rgb(24, 0, 19) !important;
}
