.background {
  width: 500px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message {
  margin-top: 10%;
  color: #000;
  text-align: center;
}

.botao-menu-azul {
  background-color: #00B5FF;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-dialog {
  display: flex;
  justify-content: center;
  width: 100%;
}

.title{
  justify-self: self-start;
  margin-left: 3%;
}

p{
  max-width: 500px;
}
