.title{
    font-size: 1.5em;
    font-weight: bolder;
    color: #D7F9FF;
    font-family: "Chakra Petch", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin-bottom: 10px;
}

.items {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.2em;
  }

  .items {
    padding: 10px;
    width: 100%;
  }
}
