<div class="bottom-bar">
    <div class="contacts">
        Contatos:
    </div>
    <div class="contacts">
        <img src="assets/img/email.png" alt="e-mail" class="contact-img">
        Pro Connect: planbtechnology59&#64;gmail.com
    </div>

    <div class="contacts">
        <img src="assets/img/email.png" alt="Documentação, PO e QA:" class="contact-img">
        Documentação, PO e QA: nathalysgomes&#64;outlook.com
        <span>|</span>
        <img src="assets/img/email.png" alt="Dev. front-end:" class="contact-img">
        Dev. Web: anderson.ander.escola&#64;gmail.com
    </div>

    <div class="contacts">
        <img src="assets/img/email.png" alt="Designer e front-end:" class="contact-img">
        UI, UX Designer e Dev. Front-end: ingridkemilym&#64;gmail.com
        <span>|</span>
        <img src="assets/img/email.png" alt="Scrum e Arquiteto:" class="contact-img">
        Scrum e Arquiteto: yagof2421&#64;gmail.com
    </div>
</div>