<div class="loading-container" style="margin-top: 1.5%;">
    <div class="loading-placeholder">
      <div class="shimmer"></div>
    </div>
    <div class="loading-placeholder">
      <div class="shimmer"></div>
    </div>
    <div class="loading-placeholder">
      <div class="shimmer"></div>
    </div>
    <div class="loading-placeholder">
      <div class="shimmer"></div>
    </div>
</div>

<div class="loading-container" style="margin-top: 7%;">
  <div class="loading-placeholder">
    <div class="shimmer"></div>
  </div>
  <div class="loading-placeholder">
    <div class="shimmer"></div>
  </div>
  <div class="loading-placeholder">
    <div class="shimmer"></div>
  </div>
  <div class="loading-placeholder">
    <div class="shimmer"></div>
  </div>
</div>
