<app-second-header></app-second-header>

<div class="content">
    <div class="login-box">
        <h2 class="titulos">Matricule-se</h2>
        <p>Realize o cadastro preenchendo as informações abaixo</p>
        <form>
            <label for="email">E-mail:</label><br>
            <input type="text" id="email" name="email" [(ngModel)]="userName" ><br>
            <label for="password">Senha:</label><br>
            <input type="password" id="password" name="password" [(ngModel)]="password" ><br>
            <label for="password">Confirme a senha:</label><br>
            <input type="password" id="passwordConfirm" name="password" [(ngModel)]="confirmPassword" ><br>
            <input class="bold" type="submit" value="Cadastrar" (click)="register()">
        </form>
        <div class="retangulo">
            <div class="signup-box">
                <h2>Já possui uma conta?</h2>
                <button class="button-cadastro" routerLink="/login" >Login</button>
            </div>
        </div>
    </div>
</div>
