<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
    <title>HomePage</title>
</head>
<body>
    <app-main-header></app-main-header>
    <div class="centro">
    <h1 class="h1-titulo">Escolha vários cursos e fique por dentro das <b class="n">novidades</b> do mundo tecnológico</h1>

    <p class="phtml">Desenvolvimento Web</p>
    <p class="phtml">HTML e CSS</p>

    <div class="progamacao">
        <ul class="ulprog">
            <div class="oba">
                <li class="liprog">Fundamento do HTML </li>
                <button class="botaoa"><a href="https://" target="_blank">Assistir</a></button>
            </div>
            <div class="oba">
                <li class="liprog">Estilizando com CSS</li>
                <button class="botaoa"><a href="https://" target="_blank">Assistir</a></button>
            </div>
            <div class="oba">
                <li class="liprog">Responsividade e Layouts Flexiveis </li>
                <button class="botaoa"><a href="https://" target="_blank">Assistir</a></button>
            </div>
        </ul>
    </div>

    <p class="pp">Programação Back-End</p>
    <p class="ppp">Python</p>

    <div class="progamacao">
        <ul class="ulprog">
            <div class="oba">
                <li class="liprog">Python para Iniciantes </li>
                <button class="botaoa"><a href="https://" target="_blank">Assistir</a></button>
            </div>
            <div class="oba">
                <li class="liprog">Manipulação de Arquivos e Dados </li>
                <button class="botaoa"><a href="https://" target="_blank">Assistir</a></button>
            </div>
            <div class="oba">
                <li class="liprog">APIs com Flash </li>
                <button class="botaoa"><a href="https://" target="_blank">Assistir</a></button>
            </div>
        </ul>
    </div>

    <p class="pp">Banco de Dados</p>
    <p class="ppp">SQL e NoSQl</p>

    <div class="progamacao">
        <ul class="ulprog">
            <div class="oba">
                <li class="liprog">Introdução ao SQL </li>
                <button class="botaoa"><a href="https://" target="_blank">Assistir</a></button>
            </div>
            <div class="oba">
                <li class="liprog">MongoBd: NoSQL para iniciantes </li>
                <button class="botaoa"><a href="https://" target="_blank">Assistir</a></button>
            </div>
            <div class="oba">
                <li class="liprog">Modelagem de Dados Relacionais</li>
                <button class="botaoa"><a href="https://" target="_blank">Assistir</a></button>
            </div>
        </ul>
    </div>
    </div>
    
</body>
</html>