<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
    <title>HomePage</title>
</head>
<body>
    <app-main-header></app-main-header>
    <div class="centro">
    <h1 class="h1-titulo">Escolha vários cursos e fique por dentro das <b class="n">novidades</b> do mundo tecnológico</h1>

    <p class="phtml">Desenvolvimento Web</p>
    <p class="phtml">HTML e CSS</p>

    <app-video-list></app-video-list>

    <p class="pp">Programação Back-End</p>
    <p class="ppp">Python</p>

    <app-video-list></app-video-list>

    <p class="pp">Banco de Dados</p>
    <p class="ppp">SQL e NoSQl</p>

    <app-video-list></app-video-list>
    </div>
    
</body>
</html>