.testList {
    display: flex;
    transition: transform 0.5s ease;
  }

.title{
  font-weight: bolder;
  color: #D7F9FF;
  white-space: nowrap;
  font-family: "Chakra Petch", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-bottom: 10px;
}

.test-item {
  flex: 0 0 0%; /* Tamanho de cada vídeo */
  margin-right: 1.3%;
  margin-left: 1%;
}
.test-carousel {
  overflow: hidden;
  position: relative;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
