.video-carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%; /* Ajuste para garantir que o contêiner de vídeo ocupe toda a largura */
}

.videoList {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.title {
  font-weight: bolder;
  color: #D7F9FF;
  font-family: "Chakra Petch", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-bottom: 10px;
}

.video-item {
  flex: 0 0 24%; /* Ajuste percentual para acomodar 4 vídeos por linha inicialmente */
  display: none; /* Esconda todos os itens por padrão */
}

.video-item.visible {
  display: block; /* Apenas os itens visíveis serão exibidos */
  margin-right: 1%; /* Aplique a margem apenas aos itens visíveis */
}

.prev-button,
.next-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.next-button img,
.prev-button img{
  width: 50%;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

/* Responsividade */
@media (max-width: 1200px) {
  .video-item {
    flex: 0 0 32%; /* 3 vídeos por linha */
  }
}

@media (max-width: 992px) {
  .video-item {
    flex: 0 0 48%; /* 2 vídeos por linha */
  }
}

@media (max-width: 768px) {
  .video-item {
    flex: 0 0 100%; /* 1 vídeo por linha */
  }
}
