.content {
  background: linear-gradient(to bottom right, #0A0010, #36005A);
  justify-content: center;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-bottom: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-intro {
  max-width: 50%;
  margin-top: 15px;
}

.titulo {
  color: #fff;
  font-size: 25px;
  margin-bottom: 10px;
}

.subtitulo {
  color: #fff;
  font-size: 20px;
}

p {
  color: #fff;
  font-size: 20px;
  margin: 15px;
  text-align: center;
}

.purple-box {
  background-color: rgba(153, 0, 255, 0.6);
  color: white;
  width: 30%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purple-box h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.blue-text {
  color: #00B5FF;
}

.blue-text-bold {
  color: #00B5FF;
  font-weight: bold;
}

.vantagem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-vantagem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.img-vantagens {
  width: 20px;
  margin-right: 10px;
}

.button-cadastro {
  width: 200px;
  height: 60px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #00B5FF;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.button-cadastro:hover {
  background-color: #555;
}

.largura {
  width: 100%;
  max-width: 1150px;
}

@media (max-width: 768px) {
  .img-intro {
    max-width: 80%;
  }

  .purple-box {
    width: 50%;
  }

  .button-cadastro {
    width: 50%;
    height: auto;
    padding: 15px;
  }

  p {
    font-size: 18px;
  }

  .titulo {
    font-size: 22px;
  }

  .subtitulo {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .img-intro {
    max-width: 100%;
  }

  p {
    font-size: 16px;
  }

  .titulo {
    font-size: 20px;
  }

  .subtitulo {
    font-size: 16px;
  }
}
