<header><app-main-header></app-main-header></header>
<div class="content">
  <div class="intro">
      <header >
      <h1 style = "max-width: 450px; color:white">Comece a estudar <span class="blue-text">agora</span> na melhor plataforma de cursos tecnológicos do país </h1>
  </header>

  <img class="img-intro" src="assets/img/lp.png" alt="">
  
  <p>Se você está pronto para transformar sua carreira e entrar no emocionante mundo da tecnologia, você está no lugar certo! </p>

  <p class="largura">Nossos cursos são cuidadosamente desenvolvidos para oferecer a você as habilidades mais recentes e demandadas no mercado. 
      Seja você um iniciante curioso ou um profissional experiente em busca de aprimoramento, temos opções que se adequam ao seu 
      nível de conhecimento.</p>
  </div>

  <div class="purple-box">
    <h2>Vantagens de escolher a <br> <span class="blue-text">Pro</span>  Connect</h2>
    <div class="vantagem">
      <div class="item-vantagem">
          <img class="img-vantagens" src="assets/img/visto.png">
          <p>Currículo Atualizado</p>
      </div>
      <div class="item-vantagem">
          <img class="img-vantagens" src="assets/img/visto.png">
          <p>Instrutores Especializados</p>
      </div>
      <div class="item-vantagem">
          <img class="img-vantagens" src="assets/img/visto.png">
          <p>Flexibilidade de Aprendizado</p>
      </div>
      <div class="item-vantagem">
          <img class="img-vantagens" src="assets/img/visto.png">
          <p>Projetos Práticos</p>
      </div>
      <div class="item-vantagem">
          <img class="img-vantagens" src="assets/img/visto.png">
          <p>Comunidade Ativa</p>
      </div>
  </div>    
          <button class="button-cadastro"onclick="window.location.href='cadastro.html'">Matricule-se agora!</button>
  </div>

  <p>Na <span class="blue-text-bold">Pro</span> Connect, você tem acesso a cursos de qualidade </p>
  <p style="font-size: 18px;">Lançamentos e atualizações constantes.</p>
</div>