/* Base styles */
.content {
  background: linear-gradient(to bottom right, #0A0010, #36005A);
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.assistir {
  padding-top: 60px;
  display: flex;
}

.section-container {
  width: 100%;
}

.section-container section {
  margin-top: 2%;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .assistir {
    width: calc(100% - 200px);
    margin-left: 100px;
  }
}

@media (min-width: 992px) {
  .primeiro-video iframe {
    width: 700px;
    height: 400px;
  }
}
