p.phtml{
    font-size: 1.5em;
    font-weight: bolder;
    color: #D7F9FF;
    text-decoration: underline;
    white-space: nowrap;
    font-family: "Chakra Petch", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
