.top-bar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar img {
  height: 60px;
  margin-left: 80px;
}

.spacer {
  flex: 1 1 auto;
}

.botao-menu {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.botao-menu:hover {
  background-color: #555;
}

.botao-menu-ultimo-azul {
  background-color: #00B5FF;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.botao-menu-ultimo-azul:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .top-bar {
    align-items: flex-start;
  }

  .spacer {
    display: none;
  }

  .botao-menu, .botao-menu-ultimo-azul {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .botao-menu, .botao-menu-ultimo-azul {
    font-size: 12px;
  }

  .top-bar img{
    margin-left: 20px;
  }
}
