.content {
    background: linear-gradient(to bottom right, #0A0010, #36005A);
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column  ;
  }

.centralizado {
    text-align: center;
    width: 400px;
    margin-top: 5%;
}


.centralizado img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}

.centralizado h1 {
    color: #fff;
}

.titulo {
    color: #fff;
    font-size: 25px;
    margin-bottom: 10px;
}

.botao {
    margin-top: 20px;
    text-align: center;
}

.botao button {
    padding: 10px 20px;
    margin: 0 10px;
}

.botao-menu-azul {
    background-color: #00B5FF;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 5px;
    margin-right: 80px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.botao-menu-azul:hover {
    background-color: #555;
}

.botao-menu-transp {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 5px;
    margin-right: 80px;
    transition: background-color 0.3s, color 0.3s;
}

.botao-menu-transp:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #555;
}

section {
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    width: 77%;
    margin-left: 5%;
}
