<header><app-main-header></app-main-header></header>
<div class="content">
    <div class="centralizado">
        <div class="img-text-container">
            <img src="assets/img/perfil.png" alt="Imagem">
            <div>
                <h1 class="titulo">Jonathan Smith</h1>
            </div>
        </div>
        <div class="botao">
            <button class="botao-menu-azul" (click)="chageStatus()" [ngClass]="{'botao-menu-azul':!project, 'botao-menu-transp':project}">Conquistas</button>
            <button class="botao-menu-transp" (click)="chageStatus()" [ngClass]="{'botao-menu-azul':project, 'botao-menu-transp':!project}" >Projetos</button>
        </div>
    </div>
    <section *ngIf="!project">
        <div class="video-container">
            <div class="video">
                <img src="assets/img/html2.png">
                <p class="subtitulo">HTML Básico</p>
            </div>

            <div class="video">
                <img src="assets/img/html2.png">
                <p class="subtitulo">HTML Básico</p>
            </div>

            <div class="video">
                <img src="assets/img/html2.png">
                <p class="subtitulo">HTML Básico</p>
            </div>

            <div class="video">
                <img src="assets/img/html2.png">
                <p class="subtitulo">HTML Básico</p>
            </div>
        </div>
    </section>
    <section *ngIf="project" >
      <app-project-item></app-project-item>
    </section>
</div>
