.button-test {
  background-color: #2c2c2c;
  border: 2px solid #00f;
  border-radius: 8px;
  color: white;
  padding: 16px;
  text-align: left;
  width: 300px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.button-test:hover {
  background-color: #444;
}

.test-title {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

.text {
  margin: 8px 0;
  color: #bbb;
  text-decoration: none;
}

.badge-img {
  align-self: center;
  width: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
