<mat-toolbar class="top-bar" color="primary">
  <img mat-button routerLink="/homepage" src="https://dl.dropboxusercontent.com/scl/fi/w89cu9ygeeb07d5j06fx0/logo.png?rlkey=t97afsi2bxe6epbxnjsstqwwp&st=0jvuwizf" alt="Logo">
  <span class="spacer"></span>
  <div class="menu">
    <button mat-button routerLink="/homepage">Cursos</button>
    <button mat-button routerLink="/testCatalog">Testes</button>
    <button class="icon" routerLink="/profilepage" [queryParams]="{u:userName}">
      <img class="perfil" src="https://dl.dropboxusercontent.com/scl/fi/l3k1cqg3xubukf16584c7/perfil.png?rlkey=w5q4ovy666eojd35q0k433tdy&st=hxgjluly&" alt="perfil">
    </button>
  </div>
</mat-toolbar>
