.top-bar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-direction: row;
}

.top-bar img {
    height: 60px;
    margin-left: 80px;
}

.botao-menu-azul {
    background-color: #00B5FF;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 80px;
    transition: background-color 0.3s, color 0.3s;
}

.botao-menu-azul:hover {
    background-color: #555;
}

.botao-menu{
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
}

